
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

!.idea
.idea/*
!.idea/codeStyles

config/packages/parameters.yaml
.env

.vagrant

/public/uploads/*
!/public/uploads/privacy.pdf
!/public/uploads/.gitkeep
!/public/uploads/clubblad/.gitkeep
!/public/uploads/files/.gitkeep
!/public/uploads/formulieren/.gitkeep
!/public/uploads/fotos/.gitkeep
!/public/uploads/selectiefotos/.gitkeep
!/public/uploads/vloermuziek/.gitkeep
!/public/uploads/wedstrijduitslagen/.gitkeep

/public/adminuploads/*
!/public/adminuploads/.gitkeep

*__pycache__*
